div {
  display: inline-block;
}

#scoreboard {
  /* SCOREBOARD background */
  background-color: RGB(50, 100, 85);
  padding: 10px;
}

#controlcenter {
  /* CONTROL CENTER background */
  background-color: black;
  border-radius: 10px;
  border-style: outset;
  padding: 20px;
}

h2,
h3,
box,
#cctext {
  /* text formatting */
  font-size: 12pt;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-weight: normal;
}

h1 {
  /* field name formatting */
  font-size: 28pt;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  margin: 0px 0px 20px 0px;
  text-align: center;
}

h2.scoreboard {
  /* placement of inning headings */
  display: inline;
  padding: 0px 8px 0px 8px;
  position: relative;
  font-weight: bold;
}

box {
  /* give the runs per inning boxes a black border */
  padding: 5px 5px 5px 5px;
  border: 3px solid black;
}

#aR,
#hR {
  /* give the total runs (R) box a white border */
  border: 3px solid white;
}

em {
  /* change emphasis element to bold */
  font-style: normal;
  font-weight: bold;
}

#inline {
  display: inline;
}
